input {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 272px;
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input:hover {
  border: 1px solid #000;
}
input:focus {
  border: 1px solid #4e75ff;
}
input:disabled {
  background-color: #fafafa;
  border: 1px solid #808080;
  color: #808080;
}
button {
  background: #4e75ff;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 75px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background: #6c8cff;
}
button:disabled {
  background: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
}
.label {
  color: #2e2f42;
  text-transform: uppercase;
}
